.education {
    width: 100%;
    padding: 20px;
}

.education_card {
    margin: 20px;
    padding: 20px;
}

.education_group {
    align-items: flex-start;
    border: none;
    padding: 10px;
}

.education_next:hover {
    background-color: #FFB50D;
    border-color: #000;
}

.education_next {
    background-color: #FF9502;
    border-color: #000;
    margin: 10px;
}

.education_back:hover {
    background-color: #D7DDE2;
    border-color: #000;
    color: #000;
}

.education_back {
    background-color: #F6F8FA;
    border-color: #000;
    margin: 10px;
    color: #000;
}

.education_addMore {
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    margin-bottom: 50px;
}